// Place all the styles related to the Nutritionists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #e4e6ec;
}
div.search-form {
  padding: 30px;
  background-image: linear-gradient(to right, #51d39a, #3fbb99);
  justify-content: center;
  text-align: center;
}

form.search-form {
  display: flex;
  justify-content: center;
}

.search-box-search, .search-box-location, .search-button {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: none;
  padding: 20px;
}

.search-box-div {
  padding: 10px;
}

.search-box-search {
  padding-left: 43px;
  background: url(https://cdn.discordapp.com/attachments/419496159111806976/768909722790133770/magnifying-glass_2.svg) no-repeat scroll 5px 13px;
  background-size: 35px;
  background-color: white;
}

.search-box-location {
  padding-left: 43px;
  background: url(https://cdn.discordapp.com/attachments/419496159111806976/768909522982666280/pin_2.svg) no-repeat scroll 5px 13px;
  background-size: 35px;
  background-color: white;
}

.search-button {
  background-color: #e99f7a;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  font-weight: bold;
}

.search-box-icon {
  position: absolute;
  width: 30px;
  padding-left: 10px;
  padding-top: 13px;
}

.nutritionists {
  display: block;
  margin: auto;
  max-width: 800px;
}

.nutritionist {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
  min-width: 200px;
  width: 100%;
}

.nutritionist-img {
  padding: 10px;
}

.nutritionist-img img {
  border-radius: 50%;
}

.nutritionist-avatar {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.nutritionist-info {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.upper-half {
  display: flex;
}

.lower-half {
  display: flex;
}

.nutricionist-location {
  padding-left: 120px;
  padding-right: 250px;
}

.nutr-buttons {
  display: block;
}

.marcar-consulta, .pagina-pessoal {
  padding: 9px 25px;
  margin: 3px;
  text-align: center;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagina-pessoal {
  background-color: #d9f0e6;
}

.marcar-consulta {
  background-color: #eedfd7;
}

.green-accent {
  color: #64af9c;
  font-weight: bold;
}

.orange-accent {
  color: #dba598;
  font-weight: bold;
}
