// Place all the styles related to the Nutritionists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-form {
  padding: 30px;
  background-image: linear-gradient(to right, #51d39a, #3fbb99);
  justify-content: center;
  text-align: center;
}

.search-box, .search-button {
  height: 40px;
  width: 12%;
  min-width: 200px;
}

.nutritionists {
  display: block;
  margin: auto;
  width: 70%;
}

.nutritionist {
  padding: 10px;
  min-width: 200px;
  width: 1000px;
}

.nutritionist-img {
  padding: 10px;
}

.nutritionist-img img {
  border-radius: 50%;
}

.nutritionist-info {
  min-width: 70%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.upper-half {
  display: flex;
}

.lower-half {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
}

.nutr-buttons {
  display: block;
}

.marcar-consulta, .pagina-pessoal {
  padding: 9px 25px;
  margin: 3px;
  text-align: center;
  min-width: 200px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagina-pessoal {
  background-color: rgba(37.6, 74.1, 63.5, 0.3);
}

.marcar-consulta {
  background-color: rgba(91.4, 62.4, 47.8, 0.3);
}

.green-accent {
  color: rgb(37.6, 74.1, 63.5);
  font-weight: bold;
}

.orange-accent {
  color: rgb(91.4, 62.4, 47.8);
  font-weight: bold;
}
